/*CSS DE LA PÁGINA INDEX*/
/* body de la página principal junto con todos los elementos div del mismo con estilos aplicados*/
#bodyIndex {

    background-color:rgb(171, 188, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#fondoPrincipal {

    background-color:rgb(106, 154, 243);
    
}

#fondoDos {

    width: 800px;
}

#foto {

    border: 3px solid rgb(78, 67, 67); /*sirve para aplicar la línea que rodea el nombre con la foto, el grosor de la misma y el color*/
    border-radius: 30px;
    padding-bottom: 20px;
    text-align: center;

}



#enlaces {

    text-align: center;

}

/*body de la página sobre mi junto con todos los elementos div con estilo aplicados*/

/* CSS DE LA PÁGINA SOBRE MI*/

#bodySobreMi{

    background-color:rgb(171, 188, 219);
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*CSS DE LA PÁGINA CONTACTO*/

/*body de la página contacto junto con todos los elementos div con estilo aplicados*/
#bodyContacto {

    background-color:rgb(171, 188, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

#mapa {

    text-align: center;

}

#contacto {

    text-align: center;
   
}

#correos {

    width: 300px;
    background-color: rgb(126, 174, 252);

}

#linkpaprin {

    text-align: center;

}

/*CSS DE LA TABLA*/

#bodyHorario {

    background-color:rgb(171, 188, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

table, caption, th, td{

    border: 1px solid black;
    text-align: center;
    width: 1000px;
    height: 50px;
    border-collapse: collapse;
    padding: 2px;

}

caption {

    background-color: rgb(50, 158, 212);
    padding: 10px;

}

#descanso {

    padding: 10px;

}

#hora {

    background-color: rgb(50, 158, 212);

}

#dias {

    background-color: rgb(190, 144, 203);

}

#soste {

    background-color: rgb(157, 91, 212);

}

#Digitalización {

    background-color: rgb(219, 81, 240);

}

#Lenguajes {

    background-color: rgb(99, 99, 251);

}

#bases {

    background-color: rgb(127, 151, 250);

}

#sistemas {

    background-color: rgb(155, 76, 229);

}

#Programación {

    background-color:rgb(168, 61, 61)

}

#entornos {

    background-color: rgb(44, 104, 231);

}

#ipe {

    background-color: cornflowerblue;

}

/*TODOS LOS BOTONES*/



