/*CSS DE LA PÁGINA INDEX*/
/* body de la página principal junto con todos los elementos div del mismo con estilos aplicados*/
#bodyIndex {

    
    font-family: Arial, sans-serif;
    background-color: rgb(80, 123, 80);
    

}

#fondoPrincipal {

    background-color: rgb(199, 224, 204);
    width: 1000px;
    border: 7px solid rgb(61, 70, 40); /*sirve para aplicar la línea que rodea el nombre con la foto, el grosor de la misma y el color*/
   
    
}

#fondoDos {

    
    background-color: rgb(124, 156, 133);
    border: 7px solid rgb(61, 70, 40);
    width: 1000px;
    height: 1000px;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    
}

#personales {

    background-color:rgb(199, 224, 204);
    border: 2px solid rgb(61, 70, 40); 
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    

}

#educacion {

    float: left;
    width: 450px;
    background-color: rgb(199, 224, 204);
    border: 2px solid rgb(61, 70, 40); 
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    

}

#habilidades {

    float: right;
    width: 450px;
    background-color: rgb(199, 224, 204);
    border: 2px solid rgb(61, 70, 40); 
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 20px;

}

#foto {

    color: rgb(33, 53, 41);
    border-radius: 30px;
    padding-bottom: 20px;
    text-align: center;
    border: 3px solid rgb(61, 70, 40); 

}



#enlaces {

    
    clear: both;
    text-align: center;

}

/*body de la página sobre mi junto con todos los elementos div con estilo aplicados*/

/* CSS DE LA PÁGINA SOBRE MI*/

#bodySobreMi{

    background-color: rgb(80, 123, 80);
    

}

#unoSobreMi {

    background-color: rgb(124, 156, 133);
    width: 1000px;
    border: 7px solid rgb(61, 70, 40);
    padding: 20px;
    font-family: Arial, sans-serif;

}

#dosSobreMi {

    background-color: rgb(199, 224, 204);
    width: 1000px;
    border: 7px solid rgb(61, 70, 40);
    padding: 20px;
    font-family: Arial, sans-serif;

}

#idiomas {

    background-color: rgb(199, 224, 204);
    width: 1000px;
    border: 7px solid rgb(61, 70, 40);
    padding: 20px;
    font-family: Arial, sans-serif;

}

/*CSS DE LA PÁGINA CONTACTO*/

/*body de la página contacto junto con todos los elementos div con estilo aplicados*/
#bodyContacto {

    background-color: rgb(80, 123, 80);

}

#fondoUnoContacto {

    background-color: rgb(124, 156, 133);
    width: 900px;
    border: 7px solid rgb(61, 70, 40);
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;

}

#pagContacto {

    background-color: rgb(199, 224, 204);
    width: 900px;
    border: 7px solid rgb(61, 70, 40);
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;

}

#mapa {

    text-align: center;

}

#contacto {

    text-align: center;
   
}

#correos {

    width: 300px;
    background-color: rgb(126, 174, 252);

}

#linkpaprin {

    text-align: center;

}

/*CSS DE LA TABLA*/

#bodyHorario {

    background-color: rgb(80, 123, 80);
    width: 1000px;
    border: 7px solid rgb(61, 70, 40);
    font-family: Arial, sans-serif;
    text-align: center;

}

table, caption, th, td{

    border: 1px solid black;
    text-align: center;
    width: 1000px;
    height: 50px;
    border-collapse: collapse;
    padding: 2px;

}

caption {

    background-color: rgb(102, 153, 102);
    padding: 10px;

}

#descanso {

    padding: 10px;

}

#hora {

    background-color:rgb(235, 249, 235);

}

#dias {

    background-color: rgb(182, 227, 182);

}

#soste {

    background-color: rgb(150, 215, 150);

}

#Digitalización {

    background-color: rgb(119, 203, 119);

}

#Lenguajes {

    background-color: rgb(87, 172, 87);

}

#bases {

    background-color:rgb(217, 227, 217);

}

#sistemas {

    background-color: rgb(60, 140, 60);

}

#Programación {

    background-color:rgb(80, 123, 80);

}

#entornos {

    background-color: rgb(158, 185, 158);

}

#ipe {

    background-color: rgb(190, 214, 190);

}

/*TODOS LOS BOTONES*/




